.logoimage{
    width: 60%;
}
#navbarNav {
background-color: burlywood;
border-radius: 10px;
padding-right: 10px;
}
.orange-bg{
background-color: aquamarine;
}
.carousel-item{
    padding: 20px 40px;
}
h1{
color: rgb(10, 156, 137);    
}
.button-style{
    background-color:#2bb4a1;
    border:medium none;
    border-radius: 30px;
    color:#fff;
    cursor:pointer;
    font-size:20px;
    padding: 15px 20px;
    }
.button-style:hover{
    background-color:#000;
    color:#f40000	
    }
.button-style02{
        background-color:#448c25;
        border:medium none;
        border-radius: 30px;
        color:#fff;
        cursor:pointer;
        font-size:20px;
        padding: 20px 30px;	
            
        }  
.button-style02:hover{
        background-color:#000;
        color:#f40000
        }
.in-padding{
    padding: 30px 15px;
}
h6{
    color: darkgoldenrod;
}
.last-img{
    width: 100%;
}
.last-padding{
    padding-top: 100px;
    padding-bottom: 150px;
}
.first-pic{
padding-bottom: 120px;
}
.shoe-img{
padding-top: 120px;
}
