.logoimage{
    width: 60%;
}

#navbarNav {
background-color: burlywood;
border-radius: 10px;
padding-right: 10px;

}

.button-style{
background-image: linear-gradient(to bottom,rgb(17, 212, 92) 0%, rgb(15, 116, 40) 100%);
color: white;
border-radius: 12px;
}
.orange-bg{
background-color: aquamarine;
}
.carousel-item{
    padding: 20px 40px;
}
h1{
color: rgb(10, 156, 137);    
}

.container-padding{
    padding-top: 60px;
    padding-bottom: 60px;
}

.container-padding02{
    padding-bottom:60px;
}
.button-style02{
    background-image: linear-gradient(to bottom,rgb(214, 74, 10) 0%, rgb(204, 109, 19) 100%);
    color: white;
    border-radius: 12px;
    }

h4{
    text-align: center;
}




















